.square-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-image: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
}
.square-ul {
  cursor: pointer;
  z-index: 3;
  width: 100px;
  height: 100px;
  list-style: none;
  padding: 0;
  position: fixed;
  transform-style: preserve-3d; /*将子元素转为3D*/
  animation: ulRotate 30s linear infinite;
  transform: rotateX(45deg) rotateY(45deg); /*让ul整体向下转45度,向右转45度*/
  li {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    left: 0;
    right: 0;
    transition: .5s;
  }
  li>span{
    position: absolute;
    display: block;
  }
  li:nth-child(1) {
    transform: translateZ(50px); /*正面*/
    background-size: cover;
  }
  li:nth-child(2) {
    transform: rotateX(180deg) translateZ(50px);/*背面*/
    background-size: cover;
  }
  li:nth-child(3) {
    transform: rotateY(-90deg) translateZ(50px);/*右面*/
    background-size: cover;
  }
  li:nth-child(4) {
    transform: rotateY(90deg) translateZ(50px);/*左面*/
    background-size: cover;
  }
  li:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px);/*下面*/
    background-size: cover;
  }
  li:nth-child(6) {
    transform: rotateX(-90deg) translateZ(50px); /*上面*/
    background-size: cover;
  }
}
//流动线
.leftLine{
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: left-anim 6s linear infinite;
  animation-delay: 3s
}
.upLine{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: up-anim 6s linear infinite;
}
.rightLine{
  top: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: right-anim 6s linear infinite;
  animation-delay: 3s
}
.downLine{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: down-anim 6s linear infinite;
}
//背景渐变流动
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
//立体正方形选旋转动画
@keyframes ulRotate {
  0% {
    transform: rotatex(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
//线条渐变流动
@keyframes left-anim {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes up-anim {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes right-anim {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes down-anim {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
